body {
  margin: 0;
}
.header {
  background-color: black;
}
.header p {
  width: 600px;
  color: white;
  margin: 0 auto;
}
.contant {
  width: 600px;
  margin: 5px auto;
}
.chanpin {

}
.chanpin div {
  border: 3px black solid;
  width: 174px;
  height: 34px;
  background-color: blueviolet;
  margin: 15px 0px;
  text-align: center;
  line-height: 34px;
}
.chanpin div:hover {
  background-color: turquoise;
}
.chanpin div:nth-child(n + 5) {
  margin-left: 210px;
}
.chanpin div:nth-child(n + 9) {
  margin-left: 420px;
}
.chanpin div:nth-child(4n + 5) {
  margin-top: -220px;
}
.chanpin2 {
  font-size: 0px;
}
.chanpin2 span {
  border: 1px solid blue;
  font-size: 23px;
  line-height: 23px;
  margin: 0px 35px;
  padding: 0px 40px;
  background-color: aliceblue;
}
.chanpin3 span {
  border: 1px solid blue;
  line-height: 100px;
}
.chanpin4 span {
  border: 1px solid blue;
  line-height: 100px;
}
.link div {
  border-bottom: dashed 1px black;
}
.link div:last-child {
  border-bottom: transparent;
}
.bottom {
  background-color: pink;
}
.bottom div {
  margin: 0 auto;
  text-align: center;
}
