.heart {
  position: absolute;
  background-image: url('./heart.png');
  background-position: left;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  top:30px;
  left: 30px;
  -ms-transform: translate(-50%, -47.5%);
  transform: translate(-50%, -47.5%);
}

.heart:hover  {
  animation-timing-function: steps(28);
  animation-name: heart-burst;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  display: inline-block;
  animation-fill-mode: forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
